.blog-articles
    h3 文章管理 
    table#articlelist.table.table-bordered.table-condensed.table-striped
      thead
        tr
          th(colspan="5")
                input#searchArticle.pull-right.span3(type="search",placeholder="请输入文章标题进行搜索...")
        tr
          th.span1 序号
          th 文章标题
          th 写作日期
          th 最近编辑日期
          th 操作
      tbody
        tr
          td
          td
          td
          td
          td.text-center
      tfoot
        tr
          td(colspan=5)
              <div id="pager" class="text-center"></div>
              <input type="hidden" value='#{totalRecords}' id="totalRecords">
              <input type="hidden" value='#{size}'  id="size">
              

    h3 发表文章
    form#articleForm.form-horizontal
        .control-group
            .control-label 文章标题
            .controls
                input.span4(id="articleTitle",type="text",placeholder="请输入文章标题...")
        .control-group
            .control-label 内容
            .controls
                textarea#articleContent
        .control-group
            .controls
                small#TextCount 
                span#clearArticle.btn.btn-info.pull-right 清空
                span#addArticle.btn.btn-info.pull-right 保存
link(rel='stylesheet',href='/bootstrap/v3/bootstrap.css')
script(src='/ckeditor_4.3.4_full/ckeditor/ckeditor.js')
script(src='/bootstrap/plugin/bootpag/jquery.bootpag.js')
script(src='/javascripts/articlesManage.js')