.navbar.navbar-fixed-top.blog-header
    .navbar-inner
      .container
        a.brand  #{title}
        ul.nav
            li.active
                a(href="#",rel="home") 首页
            li
                a(href="#",rel="article") 文章管理
            li
                a(href="#",rel="userlist") 用户管理
            li
                a(href="#",rel="system") 系统配置
                
script(src='/javascripts/header.js')