.navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand  SPA-Blog
        ul.nav
            li.active
                a(href="#",rel="index") 首页
            li
                a(href="#",rel="article") 文章管理
            li
                a(href="#",rel="user") 用户管理
            li
                a(href="#",rel="system") 系统配置
script(src='/javascripts/header.js')