.blog-user
    h2 用户信息
    p
        strong 姓名:
        |    <span id="userInfoName"></span>
        br
        strong 年龄:
        |    <span id="userInfoAge"></span>
        br
        strong 性别:
        |    <span id="userInfoGender"></span>
        br
        strong 位置:
        |    <span id="userInfoLocation"></span>
    h2 用户列表
    #userList
        table.table.table-bordered.table-condensed.table-striped.table-hover
            thead
              tr.success
                th 用户名
                th 邮箱
                th 删除?
            tbody

    h2 新增用户
    #addUser
        fieldset
            input#inputUserName(type="text",placeholder="Username")
            input#inputUserEmail(type="text",placeholder="Useremail")
            br
            input#inputUserFullname(type="text",placeholder="Full Name")
            input#inputUserAge(type="text",placeholder="Age")
            br
            input#inputUserLocation(type="text",placeholder="Location")
            input#inputUserGender(type="text",placeholder="gender")
            br
            button#btnAddUser.btn.btn-info 新增用户

script(src='/javascripts/userlist.js')