body{
	padding-top:41px;
}
/*主页*/
.blog-home .thumbnails{
  margin-left:0px;
  width:80%;
  margin:80px auto;
}
.blog-home .thumbnails img,.blog-home .thumbnails a{
	cursor:pointer;
}
.blog-home .thumbnails h3{
	text-align: center;
}


/*用户管理与文章管理*/
.blog-user,.blog-articles{
	width:80%;
	margin:30px auto;
}



/*文章管理*/
.table th,.table .text-center{
   text-align:center!important;
}
.table [class^="icon"]{
	cursor:pointer;
}