/*公用*/
body{
	padding-top:41px;
}
.form-horizontal .control-label {
  width: 60px;
}
.form-horizontal .controls {
  margin-left: 80px;
}

/*主页*/
.blog-home .thumbnails{
  margin-left:0px;
  width:80%;
  margin:80px auto;
}
.blog-home .thumbnails img,.blog-home .thumbnails a{
	cursor:pointer;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -khtml-transition: margin 0.5s ease-out; 
}
.blog-home .thumbnails img:hover{
	margin-left:70px;
}
.blog-home .thumbnails h3{
	text-align: center;
}




/*用户管理与文章管理*/
.blog-user,.blog-articles{
	width:80%;
	margin:30px auto;
}
#addUser input{
	margin-right:10px;
}



/*文章管理*/
.table th,.table .text-center{
   text-align:center!important;
}
.table [class^="icon"]{
	cursor:pointer;
}
span#addArticle,span#clearArticle{
	margin-left:5px;
}

